{% extends "base.html" %}
{% block title %}Hangman{% endblock %}
{% block content %}
    <br><br>
    {% if state == 'bad' %}
    <p class="error">Invalid user name or password.</p>
    {% elif state == 'bad-username' %}
      <p class="error">Invalid username.</p>
    {% elif state == 'password-mismatch' %}
      <p class="error">Passwords don't match.</p>
    {% elif state == 'username-used' %}
      <p class="error">Username already taken.</p>
    {% endif %}
    <div class="login-page pure-u-1 pure-u-md-1">
        <form method="POST" action="/login" class="pure-form pure-form-stacked pure-u-1 pure-u-md-1-3">
            <h2>Returning Users</h2>
            <input type="hidden" name="url" value="{{ request.args.url }}">
            <label for="login-user">Username</label>
              <input type="text" name="user" id="login-user">
            <label for="login-password">Password</label>
              <input type="password" name="password" id="login-password">
            <button type="submit" class="pure-button pure-button-primary">Log In</button>
        </form>
        <form method="POST" action="/create_user" class="pure-form pure-form-stacked pure-u-1 pure-u-md-1-3">
            <h2>New Users</h2>
            <input type="hidden" name="url" value="{{ request.args.url }}">
            <label for="create-email">Email</label>
              <input type="email" name="email" id="create-email" maxlength="100">
            <label for="create-user">Username</label>
              <input type="text" name="user" id="create-user" maxlength="20">
            <label for="create-password">Password</label>
              <input type="password" name="password" id="create-password">
            <label for="create-password">Confirm Password</label>
              <input type="password" name="confirm" id="create-confirm">
            <button type="submit" class="pure-button pure-button-primary">Create Account</button>
        </form>
    </div>
{% endblock %}